/*
orchid-pink: #F6BDCEff;
white: #FFFFFFff;
ebony: #596055ff;
mantis: #7EC381ff;
celadon: #AED5A0ff;

*/

/* GLOBAL STYLES
-------------------------------*/

/* 
  https://www.paulirish.com/2012/box-sizing-border-box-ftw/
*/
html {
    box-sizing: border-box;
  }
*, *:before, *:after {
        box-sizing: inherit;
}

html, body{
    height:100%;
}

body {
    background: FFFFFFff;
    margin: 0;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}


/* links */
a {
    color: #7EC381ff;
}
a:hover {
    color: #F6BDCEff;
    text-decoration: none;
}
footer a {
    color: #AED5A0ff;
}
footer a:hover {
    color: #F6BDCEff;
}
.btn {
    background: #7EC381ff;
    color: #FFFFFFff;
    text-decoration: none;

}
.content-wrapper {
    margin: 0 auto;
    padding: 30px;
    max-width: 900px;
}

/* HOME
-------------------------------*/
.home {
    background: url(../images/bg-little.jpg) no-repeat; 
    background-size: cover
}
.home .content-wrapper {
    background: rgb(255 255 255/ 0.5);
}

/* RESUME
-------------------------------*/
.resume header::before {
    background: url(../images/bg-little.jpg);
    background-position-y: 15%;
    background-size: cover;
    content: "";
    display: block;
    height: 330px;
}

/* Profile
-------------------------------*/

/* Projects
-------------------------------*/

/* Work Experience
-------------------------------*/

/* Education
-------------------------------*/

/* FOOTER
-------------------------------*/
footer {
    background: rgb(65, 89, 55);
    color: rgb(255, 255, 255)
}
.socials {
    list-style-type: none;
    padding: 0;
}
.socials li {
    display: inline-block;
}
.socials img {
    width: 25px;
}
